<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Websocket Demo</title>
</head>
<body>
    <h1>FastAPI Websocket Demo</h1>
    <form>
        <label for="message">Message: </label>
        <p>
            <input type="text" name="message" id="message" required/>
            <button type="submit">Send</button>
        </p>        
    </form>
    <ul id='messages'>
    </ul>
    <script src="{{ url_for('static', path='/js/websocket.js') }}"></script>
</body>
</html>